.create-card {
  padding: 0;
  margin: 10px;
  border: 0.5px #ddd solid;
  border-radius: 30px;
  background-color: var(--color-white);
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.226);
  text-align: left;
  position: relative;
}

.create-card__headline {
  font-family: 'Lobster', cursive;
  font-size: 1.5rem;
  line-height: 1rem;
  margin: 1rem 1.25rem 0.5rem 0;
  color: var(--color-primary);
}

.create-card__form {
  margin: 20px;
}
.create-card__item {
  margin: 10px 0 40px 0;
  border: 0.5px solid #ddd;
  border-radius: 15px;
  background-color: #f7f3e1;
  width: 100%;
}

.create-card__text {
  font-family: 'Raleway', cursive;
  font-size: 1rem;
  color: var(--color-black);
}

.create-card__button {
  width: 100%;
  padding: 20px;
  border: 0.5px #ddd solid;
  border-radius: 15px;
  background-color: var(--color-secondary-alt);
  color: #333;
  font-weight: 300;
}
