* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: rgb(255, 217, 90);
  background: linear-gradient(
    132deg,
    rgba(255, 217, 90, 1) 0%,
    rgba(204, 132, 15, 1) 100%
  );
  color: var(--color-black);
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 48px auto 48px;
}

main {
  overflow-y: scroll;
}

h1,
h2,
h3 {
  font-family: 'Lobster', cursive;
  text-align: left;
  margin: 0;
  padding: 0;
}

input,
button {
  font-size: 1em;
}

a {
  text-decoration: none;
  color: var(--color-white);
}
