.profile-card {
  padding: 20px;
  margin: 10px;
  border: 0.5px #ddd solid;
  border-radius: 30px;
  background-color: var(--color-white);
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.226);
  text-align: left;
  position: relative;
}

.profile-card-picture {
  width: 150px;
  border: var(--color-primary) 0.5px solid;
  border-radius: 15px;
}

.profile-card-name {
}
