.quiz-card {
  padding: 0;
  margin: 0 20px;
  border: 0.5px #ddd solid;
  border-radius: 30px;
  background-color: var(--color-white);
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.226);
  text-align: center;
  font-weight: 300;
  position: relative;
}

.quiz-card:first-child {
  margin-top: 30px;
}

/* warum funktioniert es nicht, einen Abstand zum Footer zu bekommen? */
.quiz-card:last-child {
  margin-bottom: 30px;
}

.quiz-card__bookmark {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -3px;
  right: 50px;
  border: 20px solid #ddd;
  border-bottom-color: transparent;
}

.quiz-card__bookmark--active {
  border: 20px solid hotpink;
  border-bottom-color: transparent;
}

.quiz-card__headline {
  padding: 20px 20px 10px 20px;
  text-align: left;
  color: var(--color-primary);
  font-weight: 400;
  font-size: 1.5rem;
}

.quiz-card__text {
  text-align: left;
  padding: 0 20px;
  margin: 0;
}

.quiz-card__text--hidden {
  visibility: hidden;
}

.quiz-card__button {
  width: calc(100% - 40px);
  margin: 20px 20px 20px 20px;
  padding: 20px;
  border: 0.5px #ddd solid;
  border-radius: 15px;
  background-color: var(--color-secondary-alt);
  color: #333;
  font-weight: 300;
}

.quiz-card__tag-cloud {
  list-style: none;
  display: flex;
  flex-flow: wrap;
  padding: 0 20px 5px 20px;
}

.quiz-card__tag-cloud--item {
  display: inline-block;
  background: #ddd;
  border-radius: 15px;
  color: #333;
  margin: 4px;
  padding: 9px 12px 7px 12px;
  font-weight: 300;
  width: max-content;
}
