.quiz-card {
  padding: 20px;
  margin: 30px 10px;
  border: 0.5px #ddd solid;
  border-radius: 30px;
  background-color: var(--color-white);
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.226);
  text-align: left;
  position: relative;
}

.quiz-card--darkmode {
  padding: 20px;
  margin: 30px 10px;
  border: 0.5px #ddd solid;
  border-radius: 30px;
  background-color: #333 !important;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.226);
  text-align: left;
  position: relative;
}

.quiz-card:last-child {
  margin-bottom: 30px;
}

.quiz-card__bookmark {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -3px;
  right: 50px;
  border: 20px solid #ddd;
  border-bottom-color: transparent;
}

.quiz-card__bookmark--active {
  border: 20px solid hotpink;
  border-bottom-color: transparent;
}

.quiz-card__headline {
  font-size: 1.5rem;
  margin: 1rem 1.25rem 0.5rem 1.25rem;
  color: var(--color-primary);
}

.quiz-card__text {
  text-align: left;
  padding: 0;
  margin: 0 0 10px 0;
}

.quiz-card__answer {
  text-align: left;
  padding: 0;
  margin: 0 0 10px 0;
  display: none;
}

.quiz-card__answer--show {
  display: block !important;
}

.quiz-card__button {
  width: 100%;
  padding: 20px;
  margin: 10px 0 20px 0;
  border: 0.5px #ddd solid;
  border-radius: 15px;
  background-color: var(--color-secondary-alt);
  color: #333;
}

.quiz-card__tag-cloud {
  list-style: none;
  display: flex;
  flex-flow: wrap;
  padding: 0;
  margin: 0;
}

.quiz-card__tag-cloud--item {
  display: inline-block;
  background: #ddd;
  border-radius: 15px;
  color: #333;
  margin: 10px 10px 0 0;
  padding: 9px 12px 7px 12px;
  width: max-content;
}
