.app-footer {
  background: var(--color-primary-alt);
  color: var(--color-white);
  padding: 15px;
  display: flex;
  justify-content: space-around;
  font-size: 28px;
}

.app-footer__item--active {
  color: var(--color-secondary);
}
