.app-header {
  background: var(--color-primary-alt);
  color: var(--color-white);
  padding: 8px;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.116);
}

.app-header__heading {
  font-weight: 200;
  font-size: 2rem;
  text-align: center;
}
